body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

form{
    padding-bottom: 20px;
}

#main-container{
    margin: 0 auto;
    width: 400px;
}

input[type="text"]{
    padding: 10px;
    width: 350px;
}

input[type="button"]{
    color: white;
    background-color: rgba(18, 69, 163, 255);
    padding: 10px;
    border: 0;
}

#peliculas-container div{
    padding: 10px 0px;
    border-bottom: solid 1px #ccc;
}
